NEXT_PUBLIC_APP_URL=http://localhost:3000

AWS_REGION=ap-south-1
S3_BUCKET_NAME=your-s3-bucket-name

COGNITO_CLIENT_ID=your-cognito-client-id
COGNITO_ISSUER=https://cognito-idp.ap-south-1.amazonaws.com/your-user-pool-id
COGNITO_REDIRECT_URI=http://localhost:3000/api/auth/callback
COGNITO_LOGOUT_URI=http://localhost:3000/login

WORKSPACES_TABLE_NAME=ayd-workspaces-dev
WORKSPACE_MEMBERS_TABLE_NAME=ayd-workspace-members-dev
USERS_TABLE_NAME=ayd-users-dev
DOCUMENTS_TABLE_NAME=ayd-documents-dev
DOCUMENT_CHUNKS_TABLE_NAME=ayd-document-chunks-dev
CHAT_MESSAGES_TABLE_NAME=ayd-chat-messages-dev